{namespace sbp2=Tx_SbPortfolio2_ViewHelpers}

<f:if condition="{relateditems}">
	<p class="label"><strong>{f:translate(key:'sbp2_relateditems')}</strong></p>
	<ul class="relatedItems">
		<f:for each="{sbp2:sortTitle(records: relateditems)}" as="relatedItem" iteration="relatedItemInfo">
			<f:alias map="{title: '{sbp2:title(record: relatedItem)}'}">
				<li class="{sbp2:classes(record: relatedItem, info: relatedItemInfo)}">
					<f:link.action pageUid="{settings.item.pids.single}" controller="Item" action="single" arguments="{item : relatedItem.uid}" title="{f:translate(key: 'sbp2_titletext_item')} {title}">
						{title}
					</f:link.action>
				</li>
			</f:alias>
		</f:for>
	</ul>
</f:if>