<div class="sbp2Assets sbp2Hidden">
	<img class="sbp2Hidden" width="18" height="16" src="../typo3conf/ext/sb_portfolio2/Resources/Public/Icons/Category/sbp2_category.gif" alt="" />
	<img class="sbp2Hidden" width="18" height="16" src="../typo3conf/ext/sb_portfolio/res/icon_tx_sbportfolio_items.gif" alt="" />
	<img class="sbp2Hidden" width="18" height="16" src="../typo3conf/ext/sb_portfolio/res/icon_tx_sbportfolio_clients.gif" alt="" />

	<img class="sbp2Hidden" width="18" height="16" src="../typo3conf/ext/sb_portfolio2/Resources/Public/Backend/Icons/sbp2_error.gif" alt="" />
	<img class="sbp2Hidden" width="18" height="16" src="../typo3conf/ext/sb_portfolio2/Resources/Public/Backend/Icons/sbp2_ok.gif" alt="" />

	<img class="sbp2Hidden" width="18" height="16" src="../typo3conf/ext/sb_portfolio2/Resources/Public/Icons/Category/sbp2_category.gif" alt="" />
	<img class="sbp2Hidden" width="18" height="16" src="../typo3conf/ext/sb_portfolio2/Resources/Public/Icons/Client/sbp2_client.gif" alt="" />
	<img class="sbp2Hidden" width="18" height="16" src="../typo3conf/ext/sb_portfolio2/Resources/Public/Icons/File/sbp2_file.gif" alt="" />
	<img class="sbp2Hidden" width="18" height="16" src="../typo3conf/ext/sb_portfolio2/Resources/Public/Icons/Film/sbp2_film.gif" alt="" />
	<img class="sbp2Hidden" width="18" height="16" src="../typo3conf/ext/sb_portfolio2/Resources/Public/Icons/Image/sbp2_image.gif" alt="" />
	<img class="sbp2Hidden" width="18" height="16" src="../typo3conf/ext/sb_portfolio2/Resources/Public/Icons/Imagefolder/sbp2_imagefolder.gif" alt="" />
	<img class="sbp2Hidden" width="18" height="16" src="../typo3conf/ext/sb_portfolio2/Resources/Public/Icons/Item/sbp2_item.gif" alt="" />
	<img class="sbp2Hidden" width="18" height="16" src="../typo3conf/ext/sb_portfolio2/Resources/Public/Icons/Link/sbp2_link.gif" alt="" />
	<img class="sbp2Hidden" width="18" height="16" src="../typo3conf/ext/sb_portfolio2/Resources/Public/Icons/Tag/sbp2_tag.gif" alt="" />
	<img class="sbp2Hidden" width="18" height="16" src="../typo3conf/ext/sb_portfolio2/Resources/Public/Icons/Testimonial/sbp2_testimonial.gif" alt="" />
</div>
