{namespace sbp2=Tx_SbPortfolio2_ViewHelpers}

<f:layout name="CategoryList" />

<f:section name="categoryList">
	<h1>Category List</h1>

	<f:render partial="Shared/Filter" arguments="{filtering: filtering}" />

	<f:if condition="{categories}">
		<f:then>
			<f:widget.paginate objects="{categories}" as="paginatedCategories" configuration="{settings.category.pageBrowser}">
				<f:render partial="Category/CategoryListItem" arguments="{categories: paginatedCategories}" />
			</f:widget.paginate>
		</f:then>

		<f:else>
			<p class="categoryListEmpty">
				<f:if condition="{filtering}">
					<f:then>
						<f:if condition="{filtering.tag}">
							{f:translate(key:'sbp2_none_category_tag')} {filtering.record.title}.
						</f:if>
					</f:then>

					<f:else>
						{f:translate(key:'sbp2_none_category')}
					</f:else>
				</f:if>
			</p>
		</f:else>
	</f:if>
</f:section>